<mat-card class="card">
  <div class="card-contents">
    <div class="card-header">
      <div class="image">
        <span>Image</span>
      </div>
      <div class="summary">
        <div class="title">
          <span>{{ review.title }}</span>
        </div>
        <div class="star">
          <span>{{ review.star }}</span>
        </div>
        <div class="username">
          <span>{{ review.user.name }}</span>
        </div>
      </div>
    </div>
    <div class="card-body">
      <span>{{ review.contents }}</span>
    </div>
    <div class="card-footer">
      <div class="date">
        <span>{{ review.createdAt }}</span>
      </div>
      <div class="location">
        <span>{{ review.location.name }}</span>
      </div>
      <div class="tags">
        <span>{{ tagNames.join(', ') }}</span>
      </div>
    </div>
  </div>
</mat-card>
