<mat-card class="card">
  <div class="card-contents">
    <div class="card-header">
      <div class="image">
        <span>Image</span>
      </div>
      <div class="summary">
        <div class="title">
          <span>{{ review.title }}</span>
        </div>
        <div class="star">
          <span>{{ review.star }}</span>
          <mat-icon fontIcon="star_rate" *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]"></mat-icon>
        </div>
        <div class="username">
          <mat-icon fontIcon="person"></mat-icon>
          <span>{{ review.user.name }}</span>
        </div>
      </div>
    </div>
    <div class="card-body">
      <span>{{ review.contents }}</span>
    </div>
    <div class="card-footer">
      <div class="date">
        <mat-icon fontIcon="calendar_today"></mat-icon>
        <span>{{ review.createdAt }}</span>
      </div>
      <div class="location">
        <mat-icon fontIcon="storefront"></mat-icon>
        <span>{{ review.location.name }}</span>
      </div>
      <div class="tags">
        <mat-icon fontIcon="sell"></mat-icon>
        <span>{{ tagNames.join(', ') }}</span>
      </div>
    </div>
  </div>
</mat-card>
