.card {
  width: 50%;
}

.card-contents {
  margin: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card-header {
  display: flex;
  gap: 16px;
}

.image {
  flex: 1; // flexの子要素同士で幅の割合を指定する
  height: 135px;
}

.summary {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 8px;

  > div {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

.username {
  display: flex;
  align-items: center;
  gap: 4px;
}

.card-body {
  white-space: pre-wrap;
}

.card-footer {
  max-height: 100px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: 8px;

  > div {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}
