.card {
  width: 50%;
}

.card-contents {
  margin: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-header {
  max-height: 200px;
  display: flex;
  gap: 16px;
}

.image {
  flex: 1;
  min-height: 135px;
}

.summary {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-weight: bold;
}

.card-body {
  white-space: pre-wrap;
}

.card-footer {
  max-height: 100px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
