<mat-card class="card">
  <div class="card-contents">
    <div class="card-header">
      <div class="image">
        <span>Image</span>
      </div>
      <div class="summary">
        <div class="title">
          <span>Review Title</span>
        </div>
        <div class="star">
          <span>Star</span>
        </div>
        <div class="author">
          <span>Author</span>
        </div>
      </div>
    </div>
    <div class="card-body">
      <span>Body</span>
    </div>
    <div class="card-footer">
      <div class="date">
        <span>Date</span>
      </div>
      <div class="store">
        <span>Store</span>
      </div>
      <div class="tags">
        <span>Tags</span>
      </div>
    </div>
  </div>
</mat-card>
