<div class="login-page">
  <div class="login-form">  
    <form>
      <div class="form-element">
        <mat-form-field appearance="outline">
          <mat-label>ユーザー名</mat-label>
          <input matInput required>
        </mat-form-field>
      </div>
      <div class="form-element">
        <mat-form-field appearance="outline">
          <mat-label>パスワード</mat-label>
          <input matInput required>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" class="submit-button">ログイン</button>
    </form>
  </div>
</div>

